@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> hai, @ViewBag.UserName this is page from Helo Action
</h1>
<h2> Can hav any Htmlcontact</h2>
<p> User name:@ViewBag.UserNmae </p>
<p> Location:@ViewBag.Location </p>
<p> Contact:@ViewBag.Contact</p>